    /*core styles*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *, body{
      margin:0;
      padding:0;
      font-family:'poppins', sans-serif;
      box-sizing: border-box;
  }

/*Graph*/

.section-e .graph-title{
    Color:black;
    font-size:1.5rem;
    text-align: left-aligned;
    font-weight:bold;
    text-transform: uppercase;
    border-left:.25rem solid lightskyblue;
    padding: 0 2rem;
    margin: 0 3rem;
}

@media only screen and (max-width:420px){
    .section-e .graph-title{
        padding:0 .5rem;
        margin:0 1rem;
        font-size:1rem;
    }
}

.section-e{
    background:whitesmoke;
   }



.canvas-container{
    position:relative;
    margin:0 auto;
}

canvas{
    text-align: center;
    padding-right:13%;
    padding-top:6.5%;
}

  /*header*/
  
  nav{
      position:fixed;
      width:100%;
      background-color:rgba(255,255,255,0);
    z-index: 20;
    top:0;
    left:0;
    transition:0.5s;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar, .dropdown-menu{
      display:flex;
      list-style: none;
      font-weight:bold;
  }
  
  .nav-bar{
      margin:0 1.25rem;
      position:relative;
  }

  #marker{
      position: absolute;
      width:0;
      left:0;
      bottom:-3px;
      background:black;
      height:3px;
      transition:0.5s
  }

  .logo{
      padding:1rem 1.5rem;
      width:150px;
  }
  
  .logo img{
      width:100%;
  }
  
  .nav-item a{
      text-decoration:none;
      color:black;
      padding:0.25rem;
      margin: 0 0.5rem;
      position:relative;
      
  }

  
  .nav-bar li:hover{
      cursor:pointer;
  }
  
  .landing-grid{
      display:grid;
      grid-template: repeat(5, 1fr) / repeat(5, 1fr);
      height:100vh;
      width:100%;
      background-repeat:no-repeat;
      background-size:cover;
      background-image:url("../img/horizontal-banner-a.png");
      background-position: center;
  }

 
  .landing-title{
      grid-area: 1/2/6/4;
      display:flex;
      align-items: center;
      font-size:2.5rem;
      margin:auto;
      text-align: right;
      padding:2.5rem;
      max-width: 47rem;
      color:black;
      background-color:hsla(0,100%,100%,0.75);
      border-bottom:5px solid black;
      z-index: 4;
      font-weight:300;
  }

  .certificates-one-row{
        position:absolute;
      background-image:url(../img/Certificates.png);
      background-size:contain;
      width:350px;
    height:100px;
        top:93vh;
    background-repeat: no-repeat;
      mix-blend-mode:luminosity;
      z-index:3;
  }

  .icon{
      display:none;
      position:relative;
      width:25px;
      height:25px;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      right:15px;
  }

  .icon div{
      height:7px;
      width:100%;
      background:black;
      transition:0.5s;
      border-radius:5px;
  }

  .bar1.change{
      transform:rotate(-45deg) translate(-5px,7.75px);
      opacity:.65;
  }

  .bar2.change{
      opacity:0;
  }

  .bar3.change{
      transform:rotate(45deg) translate(-5px,-7.75px);
  }

  
  @media only screen and (max-width:823px){
      .nav-bar li:not(:last-child){
          display:none;
      }
      
      .nav-bar li:last-child{
          display:flex;
      }

      .nav-bar{
          margin:0 .5rem;
      }
      
      .nav-bottom{
          display:block;
          font-size: .75rem;
      }
      
      .landing-title{
        grid-area:1/2/6/1;
        width:auto;
        font-size:2rem;
      }

      .certificates-one-row{
          width:14.5rem;
      }

      
      .logo{
        padding: 1rem 1.4rem;
    }

    .logo img{
        width:100%;
    }

      }

@media only screen and (max-width:414px) and (orientation:portrait){
    .landing-title{
        font-size:1.75rem;
        padding:1rem;
        grid-area:1/2/6/1;
        border-bottom:2.5px solid black;
    }
    
    .logo{
            padding: .5rem 1.4rem;
        }

    .logo img{
            width:100%;
        }
    }


    @media only screen and (orientation:landscape) and (max-height:414px) {
        .landing-title{
            font-size:1.25rem;
            padding:1rem;
            grid-area: 1/2/6/4;
            border-bottom:1.5px solid black;
        }

        .logo{
            padding: .5rem 1.4rem;
        }

        .logo img{
            width:100%;
        }

        .certificates-one-row{
            width:14.5rem;
            top:90vh;
        }

    }
    
    
  
  /*Section A*/
  .section-a{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aeaeae' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .content-wrap{
      padding:5.5rem 1rem;
      max-width:1080px;
      margin:auto;
      line-height:2;
  }

  .wrap-mod{
    padding-left:1rem;
    padding-right:1rem;
  }

  .wrap-mod2{
      padding:0.5rem 1rem;
  }

  
  .section-a h1, .section-b h1{
      font-size:2.5rem;
      text-align: left;
      margin-bottom:2.75rem;
      font-weight:300;
      margin-top:1rem;
      padding-left:1rem;
  }
  
  .section-a p{
     margin-bottom:1rem;
      padding:0px 1rem;
  }

  .section-a ul{
    padding:0 1rem;
    margin:1.75rem;
    padding-left:3rem;
  }
  
  .section-a li{
      margin-bottom:0.5rem;
  }
  
  /*Banner-A*/
  
  .banner-a{
      max-width:100%;
      margin:auto;
      height:60vh;
      background:lightgray;
  }

  .pic-a{
    background-image: url("../img/5cc-AD-with-green-background.gif");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
  }

  .pic-b{
    background-attachment: fixed;
    background-image: url("../img/0.5-AD-with-yellow-background.gif");
    background-position: right;
    background-size: cover;
  }

  /*section-B*/
    .section-b{
        background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aeaeae' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
border-top:1px solid lightgray;
    }

/* card-section*/

    .pic-c{
        background-image: url("../img/Patent Licensing.gif"); 
    }
  
    .pic-d{
      background-image: url("../img/consulting.jpg"); 
  }
  
  
    .pic-e{
      background-image: url("../img/Manufacturing.jpg");
    }


  .box{
      width:100%;
      height:200px;
      background-position: center;
      background-size: cover;
  }



  .card-section{
      display:flex;
      width:100%;
      padding:0 1rem;
      justify-content: space-between;
      margin-bottom:1rem;
  }
  
  
  .card{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
    width:32%;
    background:white;
  }
  
  .card-description-top{
      padding:1rem;
  }


  .card-description p{
    font-size:0.75rem;
  }

button{
     display:block;
     padding:10px;
     border:none;
     outline:none;
     background-color: none;
     margin:1rem;
 }

 .product-button{
    margin-right:0;
 }



  @media only screen and (max-width:812px){
    .card-section{
        display:block;
    }

    .card{
        width:100%;
        margin-bottom:2rem;
    }

    .section-a ul{
        padding:0 1rem;
        margin:1.75rem;
        padding-left:1rem;
      }
      
      .section-a li{
          margin-bottom:0.5rem;
      }
      

    .wrap-mod{
        padding-left:0;
        padding-right:3rem;
    }

    }
 
/*Footer*/


/*Page 2*/

.section-c{  
    background-image: url("../img/hand-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-plain{
    background:white;
}

.page-title{
    display:inline-flex;
    margin-top:100px;
    text-align: left;
    padding:0 1rem;
    font-size:2.5rem;
    background-color:hsla(0,100%,100%,0.7);
    border-bottom:4px black solid;
    line-height: 1.4;
    font-weight: 300;
}

.section-a h1{
    line-height:2.5rem;
}

.pic-f{
    background-image:url("../img/SyringeReuse.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.pic-g{
    background-image:url("../img/giving-injection.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.pic-h{
    background-image:url("../img/syringewaste.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/*page3*/

.product-card small{
    position:absolute;
    top:2%;
    right:1.5%;
    opacity:1;
    transition: all 1s ease;
}

.product-card{
    position:relative;
    width:90%;
    margin:0 auto 5rem auto;
    box-shadow: 20px 20px lightgray;
}

.product-card video{
    width:100%;
    height:100%;
    object-fit: cover;
    display:flex;
}

.product-video h1{
    position: relative;
    bottom:2.5rem;
    left:1.95rem;
    line-height: 2rem;
    font-size: 1.5rem;
    word-wrap: break-word;
}

.product-video sup{
    vertical-align:super;
    font-size: xx-small;
}

.product-video h1 span{
    font-weight: 300;
}

.product-description p{
    padding:2rem;
    font-size: 0.75rem;
    height:auto;
    color:black;
    line-height: 1rem;
}


.product-description{
    background-color: #ffffff;
background-image:url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aeaeae' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
border-top:1px solid lightgray;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.section-d{
    background:url(../img/hand-background.png);
    background-repeat: repeat-y;
    background-size: contain;
    z-index:-1;
    width:100%;
}

.product-video{
    height:350px;
    width:100%;
    display:flex;
    flex-direction: column;
}

.product-description button{
    min-width:7rem;
    margin-right:0;
}

@media only screen and (max-width:420px){
    .product-card{
        box-shadow:none;
        width:100%;
    }

    .product-description p{
        padding:1.5rem;
    }

    .product-video h1{
        bottom:2.5rem;
        left:1.5rem;
    }
}

@media only screen and (max-width:375px){
    .product-description{
        display:block;
    }
    
    .product-description button{
        margin:0 auto;
        width:100%;
    }
}

@media only screen and (max-width:750px){
    .product-video h1{
        font-size: 1rem;
    }

    .page-title{
        display:inline-flex;
        margin-top:30px;
        text-align: left;
        padding:0 1rem;
        font-size:2rem;
        background-color:hsla(0,100%,100%,0.7);
        border-bottom:4px black solid;
        line-height: 1.4;
    }

    .section-a h1, .section-b h1{
        font-size:2rem;
        text-align: left;
        margin-bottom:2.75rem;
        font-weight:300;
        margin-top:1rem;
        padding-left:1rem;
    }

    }


/*CONTACT FORM*/

#popUp-area{
    position:fixed;
    width:100%;
    height:100vh;
    background:radial-gradient(rgba(0,100,100,.15),rgba(100,100,100,0.15)),url("data:image/svg+xml,%3Csvg width='' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    justify-content: center;
    transition:0.5s;
    z-index: -1;
    opacity:0;
    text-align: center;
    font-size: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

#popUp-area.active{
    opacity:1;
    z-index:15;
}

#popUp{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 1rem 1rem 15rem 1rem;
    background-blend-mode: multiply;
    transition:0.5s;
    opacity:0;
    visibility: hidden;
    width:30vw;
    min-width:450px;
    height:100%;
    overflow:auto;
}

#popUp h2{
    margin-bottom:3rem;
}

#popUp i:hover{
    color:orangered;
    cursor:pointer;
}

#popUp.active{
    opacity:1;
    top:65vh;
    visibility: visible;
    z-index:11;
}

#popUp a{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border:1px solid black;
    padding:10px 15px;
    margin-top:20px;
}


#body-border{
    transition:1s;
}


#body-border.active{
    filter:blur(20px);
}

.certificates-one-row.active{
    filter:blur(20px);
}

#popUp .form{
    padding: 1rem 0;
    font-size:12px;
}


#popUp .form .inputbox{
    display:block;
    padding: 1rem 0;
    position:relative;
}


#popUp .inputbox span{
    position: absolute;
    left:0;
    pointer-events: none;
}

#popUp .inputbox input{
    background:none;
    border:none;
    outline:none;
    border-bottom: 2px solid black;
    width:100%;
    font-size:1.5rem;
}

#popUp textarea{
    min-height:120px;
    width:100%;
    resize:none;
    background:none;
    outline:none;
    border:none;
    border-bottom:2px solid black;
}


#popUp .inputbox input:focus ~span,
#popUp .inputbox textarea:focus ~span,
#popUp .inputbox input:valid ~span,
#popUp .inputbox textarea:valid ~span
{
    transform: translateY(-20px);
    transition:.5s;
    color:orangered;
}

#popUp .inputbox input[type="submit"]{
    padding:0.5rem 0;
    transition:0.5s;
}

#popUp .inputbox input[type="submit"]:hover{
    background:black;
    color:white;
    cursor:pointer;
}

#popUp .inputbox .form-button{
    padding:0.5rem 0;
    transition:0.5s;
    width:100%;
    font-size: 18px;
    margin-top:1rem;
    background-color: none;
    text-align: center;
    border-bottom:2px solid black;
}

#popUp .inputbox .form-button:hover{
    background:black;
    color:white;
    cursor:pointer;
}

#popUp .contactInfo{
    display:none;
}

@media only screen and (max-width:450px){
    #popUp{
        min-width:350px;
    }

    #popUp h2{
        margin-bottom:1rem;
        font-size:1rem;
    }

    #popUp .form .inputbox{
        padding: .75rem 0;

    }

    #popUp .inputbox input[type="submit"]{
        padding:0.5rem 0;
        font-size:1rem;
    }

#popUp .inputbox input:focus ~span,
#popUp .inputbox textarea:focus ~span,
#popUp .inputbox input:valid ~span,
#popUp .inputbox textarea:valid ~span
{
    transform: translateY(-15px);
    transition:.5s;
    color:orangered;
    font-size:0.75rem;
}

#popUp .inputbox input{
    background:none;
    border:none;
    outline:none;
    border-bottom: 2px solid black;
    width:100%;
    font-size:1rem;
    z-index:5;
}

#popUp.active{
    opacity:1;
    visibility: visible;
    z-index:11;
}

}

/*Side Menu*/

#side-menu{
    position:fixed;
    display:flex;
    height:100vh;
    width:0;
    background-color: rgba(25,50,75,.98);
    right:0;
    transition: 0.5s;
    z-index:10;
    opacity:0;
    align-items: flex-end;
  }

#side-menu ul{
    width:100%;
}
#side-menu ul li{
    list-style: none;
}

#side-menu ul li a{
    display:block;
    text-decoration:none;
    color:white;
    font-size:3.5vw;
    text-align: right;
    padding:1rem;
    white-space: nowrap;
}

@media only screen and (max-width:411px){
    #side-menu ul li a{
        font-size:6vw;
    }
}


  #side-menu.active{
    width:100%;
    opacity:1;
  }

  @media only screen and (min-width:812px){
    #side-menu{
        width:0;
        opacity:0;
    }

  }